<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Intervención</title>
    <link rel="stylesheet" href="/static/intervenciones.css">
</head>
<body> 

    <main id="padre_ppal">

        <h1>Nueva Intervención para Caso #{{ caso.num_caso }}</h1>

        <form id="form_acceso" action="{{ url_for('guardar_intervencion', num_caso=caso.num_caso) }}" method="POST">
            <!-- Datos del caso (solo mostrar, no editar) -->

            <label>Documento estudiante:</label>
            <input type="text" name="documento" value="{{ caso.documento }}" readonly>

            <label>Tipo de caso:</label>
            <input type="text" value="{{ caso.caso_tipo }}" readonly>

            <label>Fecha apertura:</label>
            <input type="text" value="{{ caso.caso_fecha_apertura }}" readonly>

            <label>Docente que aperturó:</label>
            <input type="text" value="{{ caso.doc_pronal }}" readonly>

            <label>Descripción del caso:</label>
            <textarea readonly>{{ caso.caso_descripcion }}</textarea>

            <label>Estado del caso:</label>
            <input type="text" value="{{ caso.caso_estado }}" readonly>

            <!-- Campos de la intervención -->
            <label>Descripción intervención:</label>
            <textarea name="descripcion" placeholder="Ingrese la descripción de la intervención" required></textarea><br>

            <label>Compromiso:</label>
            <input type="text" name="compromiso" placeholder="Ingresa un compromiso"><br>
            <label>Fecha límite del compromiso:</label>
            <input type="date" name="fecha_compromiso"><br>

            <!-- Botones -->
            <button type="submit">Guardar intervención</button>
            <button type="reset">Limpiar</button>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            Swal.fire({
            icon: "{{ category }}",
            title: "{{ message }}",
            confirmButtonText: "Aceptar",
            confirmButtonColor: "{{ '#4DA6FF' if category == 'success' else '#d33' }}"
            });
        </script>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/limitador.js') }}"></script>

</body>
</html>
